<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "partials/head-meta.njk" %}
    {# {% if crawl == 'false' %} #}
    <meta name="robots" content="noindex">
    {# {% endif %} #}
    {% block styles %}{% endblock %}
    <!-- Latest Build: {{ site.buildDate | dateISO }} -->
  </head>
  {% set currentPageUrl = page.url %}
  <body class="{% if section  %}single-page page-{{ page.fileSlug }} section-{{section | slug}}{% else %}home{% endif %}">
  <nys-skipnav></nys-skipnav>
  {% include "partials/unav-header.njk" %}
  {% include "partials/site-header.njk" %}

  <main role="main" id="main-content" data-pagefind-body>

      {% block content %}
      {{ content | safe }}
      {% endblock %}
  </main>

  {% include "partials/site-footer.njk" %}
  {% include "partials/unav-footer.njk" %}

  {% include "partials/site-js-global.njk" %}
  {% block scripts %}{% endblock %}
  </body>
</html>
