
    <section id="overview">
      <h1>{{ title }}</h1>
      {%- block longdescription %}{% endblock -%}
    </section>
    <section id="example">
      {%- block example %}{% endblock -%}
    </section>
    <br>
    <section id="options">
      <h2>Options</h2>
      {%- block options %}{% endblock -%}
    </section>
    <br>
    <section id="usage">
      <h2>Usage</h2>
      {%- block usage %}{% endblock -%}
    </section>
    <div class="nys-grid-row nys-grid-gap">
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--do nys-flex-fill">
          <h3 class="card__title"><nys-icon name="check_circle" size="lg"></nys-icon> Do</h3>
          {%- block usagedo %}{% endblock -%}
        </div>
      </div>
      <div class="nys-tablet:nys-grid-col-6 nys-display-flex">
        <div class="card card--dont nys-flex-fill">
          <h3 class="card__title"><nys-icon name="warning" size="lg"></nys-icon> Don't</h3>
          {%- block usagedont %}{% endblock -%}
        </div>
      </div>
    </div>
    <br>
    <section id="accessibility">
      <h2>Accessibility</h2>
      {%- block accessibility %}{% endblock -%}
    </section>
    <br>
    <section id="properties">
      <h2>Properties</h2>
      {%- block properties %}{% endblock -%}
    </section>
    <br>
    <section id="cssvariables">
      <h2>CSS Variables</h2>
      {%- block cssvariables %}{% endblock -%}
    </section>
    <br>
    <section id="events">
      <h2>Events</h2>
      {%- block events %}{% endblock -%}
    </section>
    <section class="nys-section">
  <h2>Suggest a New Component</h2>
  <div class="nys-grid-row nys-grid-gap">
    <div class="nys-tablet:nys-grid-col-8">
      <p>
        Do you have an idea for a new NYSDS web component? Look through the existing proposals in our GitHub discussions board to see if someone already proposed something similar. If not, feel free to submit one.
      </p>
    </div>
    <div class="nys-tablet:nys-grid-col-4">
      <nys-button fullWidth label="Review Component Proposals" href="https://github.com/ITS-HCD/nysds/discussions/categories/component-proposals"></nys-button>
    </div>
  </div>
</section>
  {# <h2 id="updates">Updates</h2>
  {%- block updates %}{% endblock -%} #}

