<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Web Components - New York State Design System</title>
    <meta name="description" content="NYSDS makes it easier to build usable, accessible, mobile-friendly websites for New York State residents.">   
    <link rel="canonical" href="https://designsystem.ny.gov/components/">
    <link rel="icon" type="image/svg+xml" href="https://designsystem.ny.gov/favicon.svg" />

    <meta name=”robots” content=”noindex”>

    <meta property="og:title" content="Web Components">
    <meta property="og:site_name" content="New York State Design System">
    <meta property="og:url" content="https://designsystem.ny.gov/components/">
    <meta property="og:description" content="NYSDS makes it easier to build usable, accessible, mobile-friendly websites for New York State residents.">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="en_US">
    
    <meta property="og:image" content="https://designsystem.ny.gov/assets/img/nysds_og_image.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:logo" content="https://designsystem.ny.gov/assets/img/nysds-logo-mark.png">

    <link href="https://designsystem.ny.gov/assets/css/vendor/nysds-full.min.css" rel="stylesheet">    
    <link rel="preload" href="https://designsystem.ny.gov/assets/fonts/proximanova-regular.woff" as="font" type="font/woff" crossorigin>
    <link href="https://designsystem.ny.gov/assets/fonts/nysds-fonts.css" rel="stylesheet">    
    <link href="https://designsystem.ny.gov/pagefind/pagefind-ui.css" rel="stylesheet">
    <link href="https://designsystem.ny.gov/assets/css/prism-theme.css"rel="stylesheet">
    <link href="https://designsystem.ny.gov/assets/css/nysds-site.css" rel="stylesheet">    


    
    <meta name="robots" content="noindex">
    
    

    <!-- Latest Build: 2025-06-04T13:27:24.467+00:00 -->
  </head>
  
  <body class="single-page page-components section-components">
  <nys-skipnav></nys-skipnav>
  

<nys-unavheader hideTranslate hideSearch></nys-unavheader>

  <nys-globalheader appName="NYS Design System" homepageLink="/">
  <ul>
    <li class="site-header__item"><a href="/getting-started" class="site-header__link" title="Getting Started">Getting Started</a></li>
    <li class="site-header__item"><a href="/foundations" class="site-header__link" title="Foundations">Foundations</a></li>
    <li class="site-header__item site-header__item--active"><a href="/components" class="site-header__link" title="Components">Components</a></li>
    <li class="site-header__item"><a href="/about" class="site-header__link" title="About">About</a></li>
  </ul>
</nys-globalheader>








<div class="section-header">
    <div class="section-header__inner nys-grid-container-widescreen">
        <div class="section-header__title">
            Components
        </div>
        <div class="section-header__media">
            
                <img src="https://designsystem.ny.gov/assets/img/sections/section-components.svg" alt="Components section header">
            
        </div>
    </div>
</div>





  <main role="main" id="main-content" data-pagefind-body>
    
      
<div class="nys-grid-container-widescreen">
<h1>Web Components</h1>

<section class="nys-grid-row nys-grid-gap">
  <div class="nys-tablet:nys-grid-col-8">
    <div class="content-intro">
      <div class="content-intro__inner">  
        <p>
          NYSDS offers a library of web components. These building blocks help designers and developers create consistent digital products for New York State. Each component includes examples, guidance, accessibility considerations, and options.
        </p>
      </div>
    </div>
  </div>
  <div class="nys-tablet:nys-grid-col-4">
  </div>
</section>

<section class="nys-grid-row nys-grid-gap-6"><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/alert/" title="Alert Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/alert.svg" alt="An illustration of an alert message."></div>
          
        <div class="card__title">Alert</div>
        <div class="card__desc">An alert displays a prominent message, with optional links, at the top of the screen.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/avatar/" title="Avatar Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/avatar.svg" alt="An illustration of an avatar icon."></div>
          
        <div class="card__title">Avatar</div>
        <div class="card__desc">Avatars visually represent a user or entity as initials, a photo, or an icon.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/button/" title="Button Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/button.svg" alt="An illustration of a button."></div>
          
        <div class="card__title">Button</div>
        <div class="card__desc">Used primarily for actions that have an immediate result like &#39;Save&#39;, &#39;Close&#39;, or &#39;Add&#39;.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/checkbox/" title="Checkbox Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/checkbox.svg" alt="An illustration of a checkbox."></div>
          
        <div class="card__title">Checkbox</div>
        <div class="card__desc">A checkbox is a form input for users to select options (zero, one, or multiple) from a collection of choices.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/global-footer/" title="Global Footer Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/global-footer.svg" alt="An illustration of a global footer."></div>
          
        <div class="card__title">Global Footer</div>
        <div class="card__desc">Provide users with essential information, secondary navigation, legal links, and contact details across all pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/global-header/" title="Global Header Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/global-header.svg" alt="An illustration of a global header."></div>
          
        <div class="card__title">Global Header</div>
        <div class="card__desc">Provide users with consistent access to key features, branding, and primary navigation across all pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/icon/" title="Icon Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/icon.svg" alt="An illustration of an icon."></div>
          
        <div class="card__title">Icon</div>
        <div class="card__desc">Visual symbols used to concisely convey information and increase visual appearance.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/radiobutton/" title="Radiobutton Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/radiobutton.svg" alt="An illustration of a radiobutton."></div>
          
        <div class="card__title">Radiobutton</div>
        <div class="card__desc">Form input for selecting one option from a group.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/select/" title="Select Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/select.svg" alt="An illustration of a select dropdown."></div>
          
        <div class="card__title">Select</div>
        <div class="card__desc">Dropdown menu for selecting a single option.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/skipnav/" title="Skip To Content Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/skipnav.svg" alt="An illustration of a skip to content button."></div>
          
        <div class="card__title">Skip To Content</div>
        <div class="card__desc">An accessibility feature that allows keyboard and screen readers to bypass navigation items and jump directly to the main content of a webpage.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/textarea/" title="Textarea Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/textarea.svg" alt="An illustration of a textarea field."></div>
          
        <div class="card__title">Textarea</div>
        <div class="card__desc">Field for entering multiple lines of text.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/textinput/" title="Textinput Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/textinput.svg" alt="An illustration of a text input field."></div>
          
        <div class="card__title">Textinput</div>
        <div class="card__desc">Field for entering short text strings, like email, number, password, and more.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/toggle/" title="Toggle Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/toggle.svg" alt="An illustration of a toggle switch."></div>
          
        <div class="card__title">Toggle</div>
        <div class="card__desc">Switch component for enabling or disabling a setting.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/unav-footer/" title="UNav Footer Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/unav-footer.svg" alt="An illustration of a unav footer."></div>
          
        <div class="card__title">UNav Footer</div>
        <div class="card__desc">Provide users with access to essential NYS links across all pages.</div>
      </div>
    </a>
  </div><div class="nys-mobile-lg:nys-grid-col-6 nys-tablet:nys-grid-col-4 nys-desktop:nys-grid-col-3 nys-display-flex">
    <a class="card nys-flex-fill" href="/components/unav-header/" title="UNav Header Component">
      <div class="card__inner">
        <div class="card__media">
          
            <img src="/assets/img/components/unav-header.svg" alt="An illustration of a unav header."></div>
          
        <div class="card__title">UNav Header</div>
        <div class="card__desc">A small NYS-branded header at the top of every page to ensure users they are on a secure NYS site.</div>
      </div>
    </a>
  </div></section>

<!-- Section for linking people to GitHub discussion to suggest new components -->
<section class="nys-section">
  <h2>Suggest a New Component</h2>
  <div class="nys-grid-row nys-grid-gap">
    <div class="nys-tablet:nys-grid-col-8">
      <p>
        Do you have an idea for a new NYSDS web component? Look through the existing proposals in our GitHub discussions board to see if someone already proposed something similar. If not, feel free to submit one.
      </p>
    </div>
    <div class="nys-tablet:nys-grid-col-4">
      <nys-button fullWidth label="Review Component Proposals" href="https://github.com/ITS-HCD/nysds/discussions/categories/component-proposals"></nys-button>
    </div>
  </div>
</section>
</div>

  </main>

  <div class="site-footer">
  <div class="site-footer__inner nys-grid-container">
    <div class="nys-grid-row nys-grid-gap-lg">
      <div class="nys-tablet:nys-grid-col">
        <p class="site-footer__list-header"><strong>Quick Links</strong></p>
        <ul>
            <li><a href="/getting-started/" title="How you can use NYSDS.">Getting Started</a></li>
            <li><a href="/foundations/" title="Learn about the foundations of the design system.">Foundations</a></li>
            <li><a href="/components/" title="Explore the web components.">Components</a></li>
            <li><a href="/about/" title="Learn more about our team and the mission of this project.">About NYSDS</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <p class="site-footer__list-header"><strong>Support</strong></p>
        <ul>
          <li><a href="/privacy/" title="Review our privacy policy.">Privacy</a></li>
          <li><a href="/foundations/accessibility/" title="Learn about accessibility on this site.">Accessibility</a></li>
          <li><a href="/about/" title="Contact the NYSDS team.">Contact</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <p class="site-footer__list-header"><strong>Resources</strong></p>
        <ul>
            <li><a href="https://github.com/ITS-HCD/nysds" title="Visit the NYSDS Core GitHub repository.">NYSDS GitHub</a></li>
            <li><a href="https://github.com/ITS-HCD/nysds-fonts" title="Visit the NYSDS Fonts GitHub repository.">NYSDS Fonts GitHub</a></li>
            <li><a href="https://www.npmjs.com/org/nysds" title="Explore NYSDS NPM packages.">NYSDS NPM Packages</a></li>
            <li><a href="https://www.figma.com/design/0ogYpymUPQQfhELthntNbt/%F0%9F%92%A0-NYSDS-%2F-Components?node-id=20-40&p=f&t=HxkOUf458bt8bvyn-0" title="Access the NYSDS Figma library.">NYSDS Figma Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
    
<nys-unavfooter></nys-unavfooter>

  <script type="module" src="https://designsystem.ny.gov/assets/js/vendor/nysds.js" async></script>
<script src="https://designsystem.ny.gov/assets/js/nysds-site.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M4JYBJ7BZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M4JYBJ7BZY');
</script>
  

  </body>
</html>
