<div class="code-preview-container">
{% if preview %}
  <div class="code-preview__preview {% if previewInverted %}inverted{% endif %}">
<div class="code-preview__preview-root-inner">{{ preview | safe }}</div>
  </div>
{% endif %}
  <div class="code-preview__source">
    <div class="code-preview__buttons">
      <button class="code-preview__dropdown" onClick="showSourceCode(this)">
        <nys-icon class="code-preview__dropdown-icon" name="{{ 'chevron_down' if codeExpanded else 'chevron_right' }}" size="xl"></nys-icon>
        <p>{{ accordionLabel or "Example Code" }}</p>
      </button>
      <nys-button class="copy-btn" prefixIcon="content_copy" label="Copy" variant="ghost" size="xl" onClick="copyCode(this)"></nys-button>
      <div class="copy-tooltip">Copy Code</div>
    </div>
    <div class="code-preview__code-container {% if codeExpanded %}expanded{% endif %}">
      <div class="code-preview__code-block">
        {% set lang = codeLanguage or "html" %}{% highlight lang %}
        {{ code | safe }}
        {% endhighlight %}
      </div>
    </div>
{% if showTip %}
  <div class="code-preview__code-tip">
    <p>Can’t use NYSDS web components in your project? Try using the <span><a href="https://designsystem.ny.gov/foundations/tokens/">CSS Variables</a></span> instead.</p>
  </div>
{% endif %}
  </div>
</div>
