<script type="module" src="{{ site.url | url }}/assets/js/vendor/nysds.js" async></script>
<script src="{{ site.url | url }}/assets/js/nysds-site.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M4JYBJ7BZY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M4JYBJ7BZY');
</script>