<nys-globalheader appName="NYS Design System" homepageLink="/">
  <ul>
    <li class="site-header__item{% if section == 'Getting Started' %} site-header__item--active{% endif %}"><a href="{{ '/getting-started' | url }}" class="site-header__link" title="Getting Started">Getting Started</a></li>
    <li class="site-header__item{% if section == 'Foundations' %} site-header__item--active{% endif %}"><a href="{{ '/foundations' | url }}" class="site-header__link" title="Foundations">Foundations</a></li>
    <li class="site-header__item{% if section == 'Components' %} site-header__item--active{% endif %}"><a href="{{ '/components' | url }}" class="site-header__link" title="Components">Components</a></li>
    <li class="site-header__item{% if section == 'About' %} site-header__item--active{% endif %}"><a href="{{ '/about' | url }}" class="site-header__link" title="About">About</a></li>
  </ul>
</nys-globalheader>

{% if section %}
<div class="section-header">
    <div class="section-header__inner nys-grid-container-widescreen">
        <div class="section-header__title">
            {{ section }}
        </div>
        <div class="section-header__media">
            {% for smallimage in imagery %}
            {% if smallimage.smallcardimage %}
              <img src="{{ smallimage.smallcardimage }}" alt="{{ smallimage.smallcardimagealt |safe }}" data-pagefind-meta="image[src], image_alt[alt]" class="nys-display-none" style="display: none;">
            {% endif %}
          {% endfor %}
            {% for pageimage in imagery %}
            {% if pageimage.pageheaderimage %}
                <img src="{{ pageimage.pageheaderimage }}" alt="{{ pageimage.pageheaderimagealt | safe }}">
            {% endif %}
            {% endfor %}
            {% if not imagery %}
            <img src="{{ site.url | url }}/assets/img/sections/section-{{ section | slug }}.svg" alt="{{ section }} section header">
            {% endif %}

        </div>
         
                
    </div>
</div>
{% endif %}
