<div class="site-footer">
  <div class="site-footer__inner nys-grid-container">
    <div class="nys-grid-row nys-grid-gap-lg">
      <div class="nys-tablet:nys-grid-col">
        <p class="site-footer__list-header"><strong>Quick Links</strong></p>
        <ul>
            <li><a href="{{ '/getting-started/' | url }}" title="How you can use NYSDS.">Getting Started</a></li>
            <li><a href="{{ '/foundations/' | url }}" title="Learn about the foundations of the design system.">Foundations</a></li>
            <li><a href="{{ '/components/' | url }}" title="Explore the web components.">Components</a></li>
            <li><a href="{{ '/about/' | url }}" title="Learn more about our team and the mission of this project.">About NYSDS</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <p class="site-footer__list-header"><strong>Support</strong></p>
        <ul>
          <li><a href="{{ '/privacy/' | url }}" title="Review our privacy policy.">Privacy</a></li>
          <li><a href="{{ '/foundations/accessibility/' | url }}" title="Learn about accessibility on this site.">Accessibility</a></li>
          <li><a href="{{ '/about/' | url }}" title="Contact the NYSDS team.">Contact</a></li>
        </ul>
      </div>
      <div class="nys-tablet:nys-grid-col">
        <p class="site-footer__list-header"><strong>Resources</strong></p>
        <ul>
            <li><a href="https://github.com/ITS-HCD/nysds" title="Visit the NYSDS Core GitHub repository.">NYSDS GitHub</a></li>
            <li><a href="https://github.com/ITS-HCD/nysds-fonts" title="Visit the NYSDS Fonts GitHub repository.">NYSDS Fonts GitHub</a></li>
            <li><a href="https://www.npmjs.com/org/nysds" title="Explore NYSDS NPM packages.">NYSDS NPM Packages</a></li>
            <li><a href="https://www.figma.com/design/0ogYpymUPQQfhELthntNbt/%F0%9F%92%A0-NYSDS-%2F-Components?node-id=20-40&p=f&t=HxkOUf458bt8bvyn-0" title="Access the NYSDS Figma library.">NYSDS Figma Library</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>